<footer class="site-footer">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<!-- <h2 class="footer-heading iih">{{ site.title | escape }}</h2> -->
	<img class="svg-logo" src="/assets/svg/iih-r-bw.svg" alt="ROTTERDAM. IS IT HAPPENING? logo" title="ROTTERDAM. IS IT HAPPENING?">

	<div class="footer-wrapper">

		<div class="partners-wrapper">

			<img src="assets/svg/footer/otterdamquestions.svg" class="partners-svg">
	
		</div>

		<div class="contact-wrapper">
			
			<div class="footer-navigation">
				{% include navigation.html %}
			</div>

			<div class="footer-social">
				{% include social.html %}
			</div>

		</div>

	</div>

</footer>
