<footer class="site-footer">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>

	<!-- <h2 class="footer-heading iih">{{ site.title | escape }}</h2> -->
	<img class="svg-logo" src="/assets/svg/iih-r-bw.svg" alt="ROTTERDAM. IS IT HAPPENING? logo" title="ROTTERDAM. IS IT HAPPENING?">

	<div class="footer-wrapper">

		<div class="partners-wrapper">

		<a href="https://discord.gg/kxdpcGY5" target="_blank">
			<img src="/assets/svg/footer/rotterdamquestions.svg" class="partners-svg">
		</a>

		</div>

		<div class="contact-wrapper">

			<div class="footer-navigation">
				{% include navigation.html %}
			</div>

			<div class="footer-social">

				<a href="https://www.instagram.com/rotterdam_isithappening/" target="_blank">
					<img src="/assets/svg/footer/social-insta.svg" class="social-svg">
				</a>
				<a href="https://twitter.com/isithappening_" target="_blank">
					<img src="/assets/svg/footer/social-twitter.svg" class="social-svg">
				</a>
				<a href="mailto:info@rotterdamisithappening.nl">
					<img src="/assets/svg/footer/social-email.svg" class="social-svg">
				</a>

			</div>

		</div>

	</div>

</footer>
