/**
	*	Site	header
	*/
.site-header {
		// border-top: 5px	solid	$grey-color-tertiary;
		// border-bottom: 1px	solid	$grey-color-secondary;
		// min-height: $spacing-unit	*	1.865;

		//	Positioning	context for the mobile navigation icon
		// position: sticky;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 30;
		padding: $spacing-unit/2;

		// background-color: $text-color;
}

[data-scrolldir="up"] .site-header {
}

[data-scrolldir="down"] .site-header {
}

.site-title {
	display: inline-block;
	position: absolute;
	z-index: 30;

	img.svg-logo {
		height: 144px; // height of nav <label>
	}

}

.site-nav {
	position: absolute;
	top: $spacing-unit*.75;
	right: $spacing-unit/2;
	float: right;

	// line-height: $base-line-height	*	$base-font-size	*	2.25;

	.nav-trigger {
		display: none;
	}

	.menu-icon {
		display: none;
	}
	
	li {
		display: inline-block;
		list-style-type: none;
		background-color: white;
		//margin: 0;
		&:not(:last-child) {
			margin-right: $spacing-unit/2;
		}
	}

	.page-link-box {
		width: auto;
		height: auto;
		display: inline-block;
  		margin: 12px 8px;
	}

	.page-link {
		color: black;
		font-family: "Futura";
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
		margin: 0px;
		padding: 1px 0;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
		line-height: $base-line-height;
	}

	@include	media-query($on-palm) {
		position: absolute;
		top: $spacing-unit/2;
		right: $spacing-unit/2;
		// border: 1px	solid	$grey-color-secondary;
		// border-radius: 5px;
		text-align: center;

		label[for="nav-trigger"] {
			display: block;
			position: relative;
			z-index: 30;
			float: right;
			width: 36px;
			height: 36px;
			background-color: $white-color;
		}

		.menu-icon {
			display: block;
			// float: right;
			width: 36px;
			height: 26px;
			// line-height: 0;
			padding-top: 8px;
			// text-align: center;

			>	svg {
				fill: $text-color;
			}
		}

		input	~ .trigger { // interaction here
			// display: none; //
			opacity: 0;
			//pointer-events: none;
		}

		input:checked ~ .trigger {
			opacity: 1;
			transition: .2s opacity;
			//pointer-events: initial;

			// interaction here -^
			display: block;
			position: fixed;

			top: 0;
			padding-top: $spacing-unit * 5;
			left: 0;

			width: 100%;
			height: 100%;

			padding-bottom: $spacing-unit/2;

			background: $text-color;
			// border: $text-color;
			// border-radius: $spacing-unit/5;
			text-align: left;
		}
		ul {
			margin: 0;
		}
		li {
			display: block;
			margin-right: 0 !important;
			//border-top: 2px solid $text-color-tertiary;
			//&:last-of-type {
			//	border-bottom: 2px solid $text-color-tertiary;
			//}
		}

		.page-link {
			display: block;
			padding: $spacing-unit/4 $spacing-unit/2;

			margin-right: 0;
			margin-left: 0;
		}
	}
}

/**
*	Site	Introduction
*/
#introduction {
	background-color: $green-color-tertiary;
	padding: $spacing-unit*2 0 $spacing-unit*2;
	color: white;

	.intro {
		text-align: center;
		font-size: 1.5rem;
		//margin-bottom: $spacing-unit*1.5;
		margin-top: 0;
	}

	.intro img {
		height: $futura-font-size*1.6;
		display: inline;
		margin: 0;
		margin-bottom: -8px;
		//margin-right: $spacing-unit/5;
	}

	.content { /* nothing here*/ };

	p {
		margin-top: $spacing-unit*1.5;
	}

	//p:last-child {
	//	margin-bottom: 0;
	//}

	//h1 {
	//	margin-bottom: $spacing-unit*2;
	//}
}

/**
*	Site	Posts/News
*/

/* layout */
section.post {
	background-color: $text-color;
	color: $white-color;
	white-space-collapse: discard;

	width: 100%;
	height: $spacing-unit*15;
	
	.post-info, .post-image  {
		display: block;
		position: relative;
		height: $spacing-unit*15;
		width: 50%;
	}

	.post-info  {
		float: left;
		padding: $spacing-unit;
		
		ul, li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		ul {
			position: absolute;
			bottom: $spacing-unit;
			right: $spacing-unit;
		}

		.post-tag {
			display: inline-block;
			color: $white-color;
			background-color: $green-color-tertiary;
			@include relative-font-size(.875);
			text-transform: uppercase;
			padding: #{$base-font-size/10} #{$base-font-size/6};

			&:not(:last-of-type){
				margin-right: $spacing-unit/4;
			}
		}
	}
	
	.post-image {
		float: right;
		background-position: center;
		background-size: cover;
		font-size: 0;

	}

	@include media-query($on-palm) {
		.post-info, .post-image {
			float: none;
		}
	}

	&:nth-of-type(even){
		.post-info  {
			float: right;
		}
		.post-image {
			float: left;
		}

		@include media-query($on-palm) {
			.post-info, .post-image {
				float: none;
			}
		}
	}

	
}
a.post-link {
	text-decoration: none;
	color: $white-color;

	/* typography */
	h3 {
		font: $futura-font-weight #{$futura-font-size*1.5}/#{$futura-line-height} $futura-font-family;
		text-transform: uppercase;	
	}
	h4 { 
		font: $base-font-weight #{$base-font-size*1.15}/#{$base-line-height} $base-font-family;
		color: $white-color-secondary;
	}

	&:visited {
		h3 {
			color:$white-color-secondary;
		}
		
		h4 { 
			color: $white-color-tertiary;
		}
	}

}

@include	media-query($on-palm) {
	section.post {
		height: auto;

		.post-image  {
			display: block;
			float: none;
			clear: both;
			height: $spacing-unit*10;
			width: 100%;
		}
		.post-info {
			width: 100%;
		}
		.post-info ul {
			position: relative;
			right: unset;
			bottom: unset;
		}
	}
}

	/*
	h3
		a
	h4 
	img
	ul
		li
	*/


/**
*	Site	Pseudofeed
*/
/*
.pseudofeed { // <section>
	background-color: $white-color-tertiary;
	color: $text-color;
	padding: $spacing-unit $spacing-unit/2;
	text-align: center;

	h3 {
		display: inline-block;
		font: $futura-font-weight #{$futura-font-size*1.5}/#{$futura-line-height} $futura-font-family;
		text-transform: uppercase;	
		margin: 0 auto $spacing-unit;

		// top and bottom strokes
		padding: #{$futura-font-size*.75} 0;
		border-top: 2.625*2px $text-color 1a1918;
		border-bottom: 2.625*2px $text-color solid;
	}
	> div {

		display: block;
		width: 100%;
		column-width: 360px;
		column-fill: balance;
		// padding: $spacing-unit/2 0;
	}
	
	figure { 
		background-color: $white-color;
		padding: $spacing-unit/2;
		margin: $spacing-unit 0;
		break-inside: avoid-column;
		&:first-of-type {
			margin: 0 0 $spacing-unit;
		}

		img { }

		figcaption {
			font: $futura-font-weight #{$futura-font-size}/#{$futura-line-height} $futura-font-family;
			text-transform: uppercase;
			margin: $spacing-unit/2 0;
		}
	}
}
*/


/**
*	Site	footer
*/
.site-footer {
	background-color: $text-color-secondary;
	// border-top: 1px solid $grey-color-secondary;
	padding: $spacing-unit;

	img.svg-logo {
		// height: 24px;
		max-width: 100%;
		margin-bottom: 5%;
	}
}

.footer-heading {
	@include	iih(1);
	
}

.contact-list,
.social-media-list {
		list-style: none;
		margin-right: 0;
}

.footer-col-wrapper {
		@include	relative-font-size(1);
		color: $white-color-secondary;
		margin-right: -$spacing-unit/2;
		@extend	%clearfix;
}

.footer-col {
		float: right;
		margin-bottom: $spacing-unit	/	2;
		padding-right: $spacing-unit	/	2;
}

.footer-col-1 {
		width: -webkit-calc(35%	-	(#{$spacing-unit}	/	2));
		width: 								calc(35%	-	(#{$spacing-unit}	/	2));
}

.footer-col-2 {
		width: -webkit-calc(20%	-	(#{$spacing-unit}	/	2));
		width: 								calc(20%	-	(#{$spacing-unit}	/	2));
}

.footer-col-3 {
		width: -webkit-calc(45%	-	(#{$spacing-unit}	/	2));
		width: 								calc(45%	-	(#{$spacing-unit}	/	2));
}

@include	media-query($on-laptop) {
		.footer-col-1,
		.footer-col-2 {
				width: -webkit-calc(50%	-	(#{$spacing-unit}	/	2));
				width: 								calc(50%	-	(#{$spacing-unit}	/	2));
		}

		.footer-col-3 {
				width: -webkit-calc(100%	-	(#{$spacing-unit}	/	2));
				width: 								calc(100%	-	(#{$spacing-unit}	/	2));
		}
}

@include	media-query($on-palm) {
		.footer-col {
				float: none;
				width: -webkit-calc(100%	-	(#{$spacing-unit}	/	2));
				width: 								calc(100%	-	(#{$spacing-unit}	/	2));
		}
}



/**
	*	Page	content
	*/
.page-content {
		padding: $spacing-unit	0;
		flex: 1;
}

.page-heading {
		@include	relative-font-size(2);
}

.post-list-heading {
		@include	relative-font-size(1.75);
}

.post-list {
		margin-left: 0;
		list-style: none;
		>li {margin-bottom: $spacing-unit;}
}

.post-meta {
		font-size: $small-font-size;
		color: white;
		text-transform: uppercase;
		margin: 0;
}

.post-link {
		display: block;
		@include	relative-font-size(1.5);
}

/**
	*	Posts
	*/
//.post-header {
//	margin-bottom: $spacing-unit;
//}

.post-hero {
	/*position: absolute;*/
	/*top: 0;*/
 	/*font-size: 0;*/

	position: relative;
	display: block;
	//margin-bottom: $spacing-unit;
	padding-bottom: #{$futura-font-size*2} 0;
	// hero image
	// min-height: 20vh;
	width: 100%;
	// height: auto;
	height: 600px;
	background-size: cover;
	// background-color: $green-color-tertiary;
	background-position: center;
	background-repeat: no-repeat;
	//box-shadow: inset 0px -300px 30px 0px rgba(0,0,0,0.8);
	//background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0.15)), to(rgba(0,0,0,0.65)));
	//background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0.65) 100%);
	/*filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);*/

&:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0.15)), to(rgba(0,0,0,0.65)));
      background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0.65) 100%);
    };

}

.post-title {
	// layout
	position: absolute;
	bottom: $spacing-unit*1.5;
	/**left: 0;**/
	margin: 0; /*$spacing-unit $spacing-unit/2;*/

	// typography
	font: $futura-font-weight #{$futura-font-size*2.5}/$futura-line-height $futura-font-family;
	text-transform: uppercase;
	color: $white-color;

	// top and bottom strokes
	padding-top: $futura-font-size/2.5;
	padding-bottom: $futura-font-size/2.5;
	border-top: 6px $white-color solid;
	border-bottom: 6px $white-color solid;

	@include	relative-font-size(2.625);
	// letter-spacing: -1px;
	// line-height: 1;

	@include	media-query($on-laptop) {
		@include	relative-font-size(2.25);
		border-top: 6px $white-color solid;
		border-bottom: 6px $white-color solid;
	}
}

.post-hero-credits {
	position: absolute;
	bottom: 0;
	margin: $spacing-unit/5 $spacing-unit/2;
	text-transform: uppercase;
	color: $white-color-tertiary;
	@include	relative-font-size(.75);

}

.post-content {
	padding-top: $spacing-unit*3;
	padding-bottom: $spacing-unit*2;
	//margin-bottom: $spacing-unit;

	h2 {
			@include	relative-font-size(2);

			@include	media-query($on-laptop) {
					@include	relative-font-size(1.75);
			}
	}

	h3 {
			@include	relative-font-size(1.625);

			@include	media-query($on-laptop) {
					@include	relative-font-size(1.375);
			}
	}

	h4 {
			@include	relative-font-size(1.25);

			@include	media-query($on-laptop) {
					@include	relative-font-size(1.125);
			}
	}
	figure.highlight {
		text-align: left;
	}
	figure {
		width: 100%;
		text-align: center;

		img {
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}

		figcaption {
			text-align: left;
			color: $white-color-tertiary;
			padding: $spacing-unit/2 0;
		}
	}
}
