---
layout: default
---
<article class="post">

	<header class="post-header">

		{%- if page.image -%}
			<div class="post-hero" style="background-image:url('{{ page.image | relative_url }}');">
		{%- else -%}
			<div class="post-hero">
		{%- endif -%}
				<div class="wrapper">
					<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
				</div>

				{%- if page.imagecredits -%}
				<span class="post-hero-credits">Image credits: {{ page.image-credits }}</span>
				{%- endif -%}

		</div>
	</header>

	<div class="wrapper">
		<div class="post-content">
			{{ content }}
		</div>
	</div>

</article>
